/* public/css/styles.css */
.table-dark {
    --bs-table-bg: #1e293b;
    --bs-table-color: #ffffff;
    --bs-table-border-color: #334155;
}

.table-dark th {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-transform: uppercase; /* opcional — le da un look más "sistema/dashboard" */
}
/* No los esta tomando 
Creado issue en Git 
*/
h1, h2 {
    color: #0f172a;
    font-weight: 600; /* si no lo tiene ya */
}